@font-face {
    font-family: 'Marianne';
    src: url('fonts/Marianne-Regular.woff');
}

@font-face {
    font-family: 'Marianne-Bold';
    src: url('fonts/Marianne-Bold.woff');
}

* {
    font-family: 'Marianne', Arial, sans-serif;
    box-sizing: border-box;
}

:root {
    /* ===== Light Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #6c3cd9;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #363535;

    /* ===== Transition ===== */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body {
    min-height: 100vh;
    background: var(--body-color);
    transition: var(--tran-05);
}

body.dark {
    /* ===== Dark Colors ===== */
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color: #3A3B3C;
    --primary-color-light: #3A3B3C;
    --toggle-color: #FFF;
    --text-color: #DDD;
}

/* Add this CSS rule within the dark mode section */
body.dark .table-container table tbody tr {
    background-color: #DDD;
}


/* Ajoutez cette règle CSS pour modifier la couleur du texte à l'exterieur du dataset */
body.dark .dt-column-title {
    color: #DDD;
}

/* Ajoutez cette règle CSS pour modifier la couleur des labels associés aux éléments d'entrée */
body.dark label {
    color: #DDD; /* Changez la couleur du texte en #DDD */
}

/* Ajoutez cette règle CSS pour changer la couleur du texte */
body.dark #example_info {
    color: #DDD; /* Changez la couleur du texte en #DDD */
}

.page-item.active .page-link {
    background-color: lightgrey !important;
    border: 1px solid black;
}
.page-link {
    color: black !important;
}

/* ======================*/
/* ======= SIDEBAR ======*/
/* ======================*/

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close {
    width: 88px;
}

/* ===== Resuable CSS ===== */

.sidebar .text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
    padding-bottom: 3px;
}

.sidebar.close .text {
    opacity: 0;
}

.sidebar .image {
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 9px;
}

.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon {
    min-width: 60px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar li .icon,
.sidebar li .text {
    color: var(--text-color);
    transition: var(--tran-02);
}

.sidebar header {
    position: relative;
}

.sidebar .image-text img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

header .image-text .header-text {
    display: flex;
    flex-direction: column;
}

.header-text .name {
    font-weight: 600;
    font-size: 21px;
}

/* .header-text .profession {
    margin-top: -2px;
} */

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
    transition: var(--tran-03);
}

.sidebar.close header .toggle {
    transform: translateY(-50%);
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar .menu {
    margin-top: 35px;
}

.sidebar.close .search-box input {
    opacity: 0;
}

.sidebar .search-box {
    background: var(--primary-color-light);
    border-radius: 6px;
    display: flex;
    align-items: center;
    transition: var(--tran-05);
}

.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    background: var(--primary-color-light);
    transition: var(--tran-05);
}

.sidebar li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li a:hover {
    background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.menu-links {
    list-style: none; /* Pour enlever les puces par défaut */
    padding: 0; /* Pour enlever le remplissage par défaut */
}

.sidebar .menu-bar {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode {
    position: relative;
    border-radius: 6px;
    background: var(--primary-color-light);
}

.menu-bar .mode .moon-sun {
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i {
    position: absolute;
    transition: var(--tran-03);
}

.menu-bar .mode i.sun {
    opacity: 0;
}

body.dark .menu-bar .mode i.sun {
    opacity: 1;
}

body.dark .menu-bar .mode i.moon {
    opacity: 0;
}

.menu-bar .mode .toggle-switch {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    border-radius: 6px;
    background: var(--primary-color-light);
    transition: var(--tran-05);
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--tran-03);
}

body.dark .switch::before {
    left: 24px;
}

.dashboard {
    position: relative;
    background: var(--body-color);
    left: 250px;
    min-height: 100vh;
    width: calc(100% - 250px);
    transition: var(--tran-05);
    display: flex;
    flex-direction: column;
}

.dashboard .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 8px 40px;
}

.sidebar.close ~ .dashboard {
    left: 88px;
    width: calc(100% - 88px);
}

/* ======================*/
/* ===== FORMULAIRE =====*/
/* ======================*/

/* Mode sombre */
body.dark .sandbox-form,
body.dark .sandbox-result {
    color: #000; /* Noir */
}

body.dark form {
    background-color: #333; /* Fond sombre pour le formulaire */
    color: #FFF; /* Texte blanc */
}

body.dark .result-box {
    background-color: #333; /* Fond sombre pour la boîte de résultat */
    border: 1px solid #555; /* Bordure plus claire pour contraster avec le fond */
}

body.dark .card-header {
    background-color: #555 !important;
    color: #FFF !important;
}

body.dark .card-body {
    background-color: #333;
    box-shadow: 0 2px 5px #555;
}

body.dark .category-label,
body.dark .subcategory-label {
    color: #FFF; /* Texte blanc pour les labels */
}

body.dark .subcategory-content {
    color: #FFF; /* Texte blanc pour le contenu des sous-catégories */
}

body.dark .info-box {
    background-color: #333; /* Fond sombre pour les boîtes d'information */
    border: 2px solid #555; /* Bordure plus claire pour contraster avec le fond */
    color: #FFF; /* Texte blanc */
}

body.dark .button {
    background-color: #333; /* Fond sombre pour les boutons */
    color: #FFF; /* Texte blanc */
}

body.dark .button:hover {
    background-color: #444; /* Fond légèrement plus clair au survol */
}

form {
    max-width: 600px;
    margin: 110px auto;
    background-color: #fff; /* Fond blanc pour le formulaire en mode clair */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
}

/* SANDBOX */  

.form_box {
    margin: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 16px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="submit"] {
    font-size: medium;
    background-color: #173252;
    color: white;
    padding: 18px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 27px;
    cursor: pointer;
    width: 100%;
}


input[type="submit"]:hover {
    background-color: #234f85; /* Nouvelle couleur de fond au survol */
}

/* Mode sombre pour le bouton submit */
body.dark input[type="submit"] {
    background-color: #444; /* Couleur de fond sombre pour le bouton */
    color: #FFF; /* Couleur du texte en blanc */
    border: 1px solid #555; /* Bordure plus claire pour contraster avec le fond */
}

body.dark input[type="submit"]:hover {
    background-color: #555; /* Fond légèrement plus clair au survol */
}

/* Mode sombre pour l'input text */
body.dark input[type="text"],
body.dark input[type="title"] {
    background-color: #333; /* Couleur de fond sombre pour l'input */
    color: #FFF; /* Couleur du texte en blanc */
    border: 1px solid #555; /* Bordure plus claire pour contraster avec le fond */
}

/* Mode sombre pour le textarea */
body.dark textarea {
    background-color: #333; /* Couleur de fond sombre pour le textarea */
    color: #FFF; /* Couleur du texte en blanc */
    border: 1px solid #555; /* Bordure plus claire pour contraster avec le fond */
}

/* RESULT SANDBOX */  

.result-box {
    background-color: #fff;
    display: flex;
    flex-direction: column; /* Changer la direction en colonne pour empiler les éléments verticalement */
    gap: 20px; /* Espace de 20px entre chaque élément en vertical */
    padding: 20px;
    margin: 20px auto;
    max-width: 90% !important;
    width: 900px !important;
    text-align: center;
}


.card {
    text-align: left;
    border: none !important;
    box-shadow: none !important;
}

.card-header {
    background-color: #173252 !important;
    color: #fff !important;
    font-weight: bold !important;
    text-align: center !important;
    padding: 14px !important;
}

.card-body {
    background-color: #fff;
    /* border: 1px solid #ddd;
    border-radius: 10px; */
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    min-height: 10px;
    padding-top: 20px !important;
    color: #333;
}

.category-label,
.subcategory-label {
    font-weight: bold;
    color: #173252;
    padding-top: 5px; /* Espacement interne pour les labels */
    display: block; /* Affichage en ligne pour que le fond s'adapte à la largeur du texte */
    /* margin-top: 0; Enlever la marge supérieure */
    padding-left: 10px;
}

.subcategory-content {
    padding-bottom: 0px; /* Espacement interne pour les labels */
    padding-left: 25px;
    color: black;
}

.info-box {
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 16px;
    padding: 10px;
    /* margin-bottom: 16px; Espacement entre chaque boîte d'information */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Ombre légère */
    display: block; /* Empilement vertical */
    transition: all 0.3s ease-in-out; /* Transition douce */
}

/* Ajoute un espace entre les boîtes successives */
.info-box + .info-box {
    margin-top: 16px; /* Ajoute un espace au-dessus du deuxième info-box */
}

.button {
    display: inline-block;
    background-color: #173252;
    color: white;
    padding: 16px 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
    transition: background-color 0.3s;
    display: flex;
    margin: 0 auto; /* Centre horizontalement */
    max-width: fit-content; /* Limite la largeur au contenu */
    margin-bottom: 30px; /* Ajoute de l'espace sous le bouton */
    margin-top: 30px;
}

.button:hover {
    background-color: #234f85;
}

/* ======================*/
/* ===== DATASET =====*/
/* ======================*/

.table-container {
    margin: 30px;
    margin-top: 50px;
    flex: 1; /* Ensures this container takes up remaining space */
}

#treemap-container {
    margin: 30px;
    margin-top: 40px;
    width: 93%;
    height: 770px; /* Vous pouvez ajuster la hauteur selon vos besoins */
}

#treemap {
    width: 100%;
    height: 80vh; /* Utiliser 80% de la hauteur de la fenêtre */
}

.graph-container {
    margin-bottom: 30px; /* Ajouter de l'espace entre les graphes */
    width: 100%;
}

#bar-chart-problemes {
    width: 100%; /* Make sure the chart container takes full width */
}

#bar-chart-discussions {
    width: 100%; /* Make sure the chart container takes full width */
}


/* Style filtre Dashboard directions métier */
.filters label {
    font-weight: bold;
    font-size: 16px;
    color: #333;
    margin-right: 10px;
}

.filters select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    color: #333;
    outline: none;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

.filters select:focus {
    border: 1px solid #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.filters {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
