{% extends 'base.html' %}

{% block title %}CategorIA | Dashboard{% endblock %}

{% block content %}
    {% include 'sidebar.html' %}

    <section class="dashboard">
        <div class="text">Présentation des données annotées par le modèle d'IA</div>      

        <div class="table-container">
            <div class="filters">
                <label for="publisher-filter">Filtrer par Direction métier :</label>
                <select id="publisher-filter" class="custom-select">
                    <option value="all">Toutes les directions métier</option>
                </select>
            </div>  
            <div id="treemap" class="graph-container"></div>
            <div id="bar-chart-problemes" class="graph-container"></div>
            <div id="bar-chart-discussions" class="graph-container"></div>
        </div>

        <script>
            // Charger les données JSON à partir du fichier local
            d3.json("/static/data/test.json").then(function(data) {
                var publisherCounts = {};
                var publishers = new Set();

                // Initialiser les publisher
                data.forEach(function(d) {
                    var publisher = d.dataset_publisher;
                    publisherCounts[publisher] = (publisherCounts[publisher] || 0) + 1;
                    publishers.add(publisher);
                });

                // Remplir le filtre publisher
                publishers.forEach(function(publisher) {
                    var option = document.createElement("option");
                    option.value = publisher;
                    option.text = publisher;
                    document.getElementById("publisher-filter").appendChild(option);
                });

                // Fonction pour mettre à jour les graphiques en fonction du filtre
                function updateGraphs() {
                    var selectedPublisher = document.getElementById("publisher-filter").value;

                    var filteredData = data.filter(function(d) {
                        return selectedPublisher === "all" || d.dataset_publisher === selectedPublisher;
                    });

                    var updatedCategoryCounts = {};
                    var updatedSubcategoryCounts = {};
                    var updatedDatasetCounts = {};

                    filteredData.forEach(function(d) {
                        var category = d.prediction_motif;
                        var subcategory = d.prediction_sous_motif;
                        var dataset = d.dataset_title;

                        updatedCategoryCounts[category] = (updatedCategoryCounts[category] || 0) + 1;
                        updatedSubcategoryCounts[subcategory] = (updatedSubcategoryCounts[subcategory] || 0) + 1;
                        updatedDatasetCounts[dataset] = (updatedDatasetCounts[dataset] || 0) + 1;
                    });

                    // Mettre à jour la treemap
                    var labels = [];
                    var parents = [];
                    var values = [];
                    var textInfo = [];

                    Object.keys(updatedSubcategoryCounts).forEach(function(subcategory) {
                        labels.push(subcategory);
                        var parentCategory = filteredData.find(function(d) {
                            return d.prediction_sous_motif === subcategory;
                        }).prediction_motif;
                        parents.push(parentCategory);
                        values.push(updatedSubcategoryCounts[subcategory]);
                        textInfo.push(updatedSubcategoryCounts[subcategory]);
                    });

                    Object.keys(updatedCategoryCounts).forEach(function(category) {
                        labels.push(category);
                        parents.push('');
                        values.push(0);
                        textInfo.push(updatedCategoryCounts[category]);
                    });

                    Plotly.react('treemap', [{
                        type: 'treemap',
                        labels: labels,
                        parents: parents,
                        values: values,
                        text: textInfo,
                        textinfo: 'label+text',
                        textfont: {
                            family: 'Arial, sans-serif',
                            size: 14,
                            color: 'white'
                        },
                        textposition: 'center',
                        hoverinfo: 'label+text',
                        hoverlabel: {
                            font: {
                                color: 'white'
                            },
                            align: 'center',
                            bordercolor: 'black',
                            borderwidth: 2
                        },
                        tiling: {
                            packing: 'squarify'
                        }
                    }], {
                        paper_bgcolor: '#f5f5f5',
                        margin: { t: 60, l: 0, r: 0, b: 0 },
                        title: {
                            text: "Mosaïque des discussions : Visualisation de l'importance des problèmes rencontrés par catégorie",
                            x: 0.5,
                            xanchor: 'center',
                            y: 0.95,
                            font: {
                                size: 14,
                            }
                        },
                        autosize: true,
                    });

                    // Mettre à jour le bar-chart des problèmes
                    var problemCounts = {};
                    filteredData.forEach(function(d) {
                        var problem = d.prediction_sous_motif;
                        problemCounts[problem] = (problemCounts[problem] || 0) + 1;
                    });

                    var sortedProblems = Object.keys(problemCounts).sort(function(a, b) {
                        return problemCounts[b] - problemCounts[a];
                    });

                    var topProblems = sortedProblems.slice(0, 10);
                    var topCounts = topProblems.map(function(problem) {
                        return problemCounts[problem];
                    });

                    Plotly.react('bar-chart-problemes', [{
                        type: 'bar',
                        x: topCounts.reverse(),
                        y: topProblems.reverse(),
                        orientation: 'h'
                    }], {
                        title: {
                            text: "Top 10 des problèmes rencontrés par les utilisateurs",
                            x: 0.5,
                            xanchor: 'center'
                        },
                        margin: { t: 100, l: 250, r: 20 },
                        height: topProblems.length * 50 + 100,
                        yaxis: {
                            tickprefix: '  ',
                            ticksuffix: '  ',
                            automargin: true
                        }
                    });

                    // Mettre à jour le bar-chart des jeux de données
                    var sortedDatasets = Object.keys(updatedDatasetCounts).sort(function(a, b) {
                        return updatedDatasetCounts[b] - updatedDatasetCounts[a];
                    });

                    var topDatasets = sortedDatasets.slice(0, 5);
                    var topDatasetCounts = topDatasets.map(function(dataset) {
                        return updatedDatasetCounts[dataset];
                    });

                    Plotly.react('bar-chart-discussions', [{
                        type: 'bar',
                        x: topDatasetCounts.reverse(),
                        y: topDatasets.reverse(),
                        orientation: 'h'
                    }], {
                        title: {
                            text: "Top 5 des jeux de données les plus discutés",
                            x: 0.5,
                            xanchor: 'center'
                        },
                        margin: { t: 100, l: 250, r: 20 },
                        height: topDatasets.length * 50 + 100,
                        yaxis: {
                            tickprefix: '  ',
                            ticksuffix: '  ',
                            automargin: true
                        }
                    });
                }

                // Appliquer les filtres à l'initialisation
                updateGraphs();

                // Ajouter des écouteurs d'événements pour les filtres
                document.getElementById("publisher-filter").addEventListener("change", updateGraphs);

                // Fonction pour redimensionner les graphiques en réponse à un redimensionnement de la fenêtre
                window.addEventListener('resize', function() {
                    Plotly.relayout('treemap', {
                        width: document.getElementById('treemap').offsetWidth,
                        height: window.innerHeight * 0.8
                    });

                    Plotly.relayout('bar-chart-problemes', {
                        width: document.getElementById('bar-chart-problemes').offsetWidth,
                        height: document.getElementById('bar-chart-problemes').offsetHeight
                    });

                    Plotly.relayout('bar-chart-discussions', {
                        width: document.getElementById('bar-chart-discussions').offsetWidth,
                        height: document.getElementById('bar-chart-discussions').offsetHeight
                    });
                });
            }).catch(function(error) {
                console.log(error);
            });
        </script>
    </section>
{% endblock %}
