<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ========== CSS ========== -->
    <!-- <link rel="stylesheet" href="../static/style.css"> -->
    <link rel="stylesheet" href="/static/style.css">

    <!-- ========== BOXICONS CSS ========== -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- ========== Dataset.net ========== -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.bootstrap5.css">

    <!-- Inclure les CDN de Plotly.js et de D3.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>

    <!-- ========== Javascript ========== -->
    <script defer src="../static/js/script.js"></script>
    <!-- ========== Javascript for Dataset.net ========== -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.bootstrap5.js"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

    <title>CategorIA | Dashboard</title>
</head>
<body>
    
    <!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ========== CSS ========== -->
    <!-- <link rel="stylesheet" href="../static/style.css"> -->
    <link rel="stylesheet" href="/static/style.css">

    <!-- ========== BOXICONS CSS ========== -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- ========== Dataset.net ========== -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.bootstrap5.css">

    <!-- Inclure les CDN de Plotly.js et de D3.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>

    <!-- ========== Javascript ========== -->
    <script defer src="../static/js/script.js"></script>
    <!-- ========== Javascript for Dataset.net ========== -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.bootstrap5.js"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

    <title>CategorIA</title>
</head>
<body>
    
<nav class="sidebar close">
    <header>
        <div class="image-text">
            <span class="image">
                <img src="../static/images/logo.png" alt="logo">
            </span>

            <div class="text header-text">
                <span class="name">CategorIA</span>
                <!-- <span class="profession">Web developpeur</span> -->
            </div>
        </div>

        <i class="bx bx-chevron-right toggle"></i>
    </header>

    <div class="menu-bar">
        <div class="menu">
            <li class="search-box">
                <i class="bx bx-search icon"></i>
                    <input type="search" placeholder="Rechercher...">
            </li>
            <ul class="menu-links">
                <li class="nav-link">
                    <a href="/">
                        <i class="bx bx-bar-chart-alt-2 icon"></i>
                        <span class="text nav-text">Dashboard</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/form">
                        <i class="bx bx-bot icon"></i>
                        <span class="text nav-text">Jouer avec l'IA</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/dataset">
                        <i class="bx bx-data icon"></i>
                        <span class="text nav-text">Database</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="https://github.com/139bercy/opendata-threads-categoria/tree/API_Data_Fetcher">
                        <i class="bx bxl-github icon"></i>
                        <span class="text nav-text">Github</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="bottom content">
            <!-- <li class="">
                <a href="#">
                    <i class="bx bx-log-out icon"></i>
                    <span class="text nav-text">Logout</span>
                </a>
            </li> -->

            <li class="mode">
                <div class="moon-sun">
                    <i class="bx bx-moon icon moon"></i>
                    <i class="bx bx-sun icon sun"></i>
                </div>
                <span class="mode-text text">Dark Mode</span>

                <div class="toggle-switch">
                    <span class="switch"></span>
                </div>
            </li>
        </div>

    </div>
</nav>

</body>
</html>