{% extends 'base.html' %}

{% block title %}CategorIA | Choix du Mode{% endblock %}

{% block content %}
    {% include 'sidebar.html' %}

    <section class="dashboard">
        <div class="text">Jouer avec l'IA</div>
        <div class="form_box">
            <h4>Choisissez un mode d'annotation :</h4><br><br>
            <a href="/form" class="button">Annotation via un formulaire</a><br><br>
            <a href="/form/upload" class="button">Annotation automatique de fichier</a>
        </div>
    </section>
{% endblock %}
